<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!--NAV BAR W3SCHOOL-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!---->
    <title>Document</title>
    <style>
        .vertical-menu {
            width: 300px; /* Set a width if you like */
            }
            .vertical-menu a {
            background-color: white; /* Grey background color */
            color: black; /* Black text color */
            display: block; /* Make the links appear below each other */
            padding: 28px; /* Add some padding */
            text-decoration: none; /* Remove underline from links */
            }

            .vertical-menu a:hover {
            background-color: #ccc; /* Dark grey background on mouse-over */
            }

            .vertical-menu a.active {
            background-color: rgb(28, 248, 28); /* Add a green color to the "active/current" link */
            color: white;
            }
            /**************** CSS BOUTTON **********/
            /**************** HTP **********/
            #htp{
                width: 215px;
                height: 100px;
                padding: 10px;
            }
            .styledhtp {
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 2rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color:rgb(154,205,50);
            background-image: linear-gradient(to top left,
                                            rgba(0, 0, 0, .2),
                                            rgba(0, 0, 0, .2) 30%,
                                            rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                        inset -2px -2px 3px rgba(0, 0, 0, .6);
            }

            .styledhtp:hover {
                background-color: rgb(25, 58, 25);
            }

            .styledhtp:active {
                box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                            inset 2px 2px 3px rgba(0, 0, 0, .6);
            }
            /*****INOVCOM**************/
            #inovcom{
                width: 215px;
                height: 100px;
            }
            .styledinov {
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 2rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: rgb(21, 235, 21);
            background-image: linear-gradient(to top left,
                                            rgba(0, 0, 0, .2),
                                            rgba(0, 0, 0, .2) 30%,
                                            rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                        inset -2px -2px 3px rgba(0, 0, 0, .6);
            }

            .styledinov:hover {
                background-color: rgb(4, 46, 10);
            }

            .styledinov:active {
                box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                            inset 2px 2px 3px rgba(0, 0, 0, .6);
            }
            /************INDU***********/
            #indu{
                width: 215px;
                height: 100px;
            }
            .styledindu {
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 2rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color:orangered;
            background-image: linear-gradient(to top left,
                                            rgba(103, 20, 180, 0.2),
                                            rgba(0, 0, 0, .2) 30%,
                                            rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                        inset -2px -2px 3px rgba(0, 0, 0, .6);
            }

            .styledindu:hover {
                background-color: rgb(60, 71, 14);
            }

            .styledindu:active {
                box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                            inset 2px 2px 3px rgba(0, 0, 0, .6);
            }
         /************INDU_2***********/
            #indu{
                width: 215px;
                height: 100px;
            }
            .styledindu {
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 2rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color:orangered;
            background-image: linear-gradient(to top left,
                                            rgba(103, 20, 180, 0.2),
                                            rgba(0, 0, 0, .2) 30%,
                                            rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                        inset -2px -2px 3px rgba(0, 0, 0, .6);
            }

            .styledindu:hover {
                background-color: rgb(60, 71, 14);
            }

            .styledindu:active {
                box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                            inset 2px 2px 3px rgba(0, 0, 0, .6);
            }
            /***********CONTENTIEUX***********/
            #contentieux{
                width: 215px;
                height: 100px;
            }
            .styledcont {
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 2rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color:orange;
            background-image: linear-gradient(to top left,
                                            rgba(0, 0, 0, .2),
                                            rgba(0, 0, 0, .2) 30%,
                                            rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                        inset -2px -2px 3px rgba(0, 0, 0, .6);
            }

            .styledcont:hover {
                background-color:rgb(60, 71, 14);
            }

            .styledcont:active {
                box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                            inset 2px 2px 3px rgba(0, 0, 0, .6);
            }
            /*************RETOUR******************/
            #retour{
                width: 215px;
                height: 100px;
            }
            .styledretour {
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 2rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: yellow;
            background-image: linear-gradient(to top left,
                                            rgba(0, 0, 0, .2),
                                            rgba(0, 0, 0, .2) 30%,
                                            rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                        inset -2px -2px 3px rgba(0, 0, 0, .6);
            }

            .styledretour:hover {
                background-color: rgb(60, 71, 14);
            }

            .styledretour:active {
                box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                            inset 2px 2px 3px rgba(0, 0, 0, .6);
            }
            /*************ENGAGEMENT******************/
            #retour{
                width: 215px;
                height: 100px;
            }
            .styledengagement {
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 2rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: rgb(131, 225, 231);
            background-image: linear-gradient(to top left,
                                            rgba(0, 0, 0, .2),
                                            rgba(0, 0, 0, .2) 30%,
                                            rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                        inset -2px -2px 3px rgba(0, 0, 0, .6);
            }

            .styledengagement:hover {
                background-color: rgb(25, 58, 25);
            }

            .styledengagement:active {
                box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                            inset 2px 2px 3px rgba(0, 0, 0, .6);
            }
            /**********************************************/
            /*CSS BAR DE NAVIGATION*/
            * {
                box-sizing: border-box;
                }

                body {
                margin: 0px;
                font-family: 'segoe ui';
                }

                .nav {
                height: 100px;
                width: 100%;
                background-color: #252424;
                position: relative;
                }

                .nav > .nav-header {
                display: inline;
                }

                .nav > .nav-header > .nav-title {
                display: inline-block;
                font-size: 22px;
                color: #fff;
                padding: 10px 10px 10px 10px;
                }

                .nav > .nav-btn {
                display: none;
                }

                .nav > .nav-links {
                display: inline;
                float: right;
                font-size: 18px;
                }

                .nav > .nav-links > a {
                display: inline-block;
                padding: 13px 10px 13px 10px;
                text-decoration: none;
                color: #efefef;
                }

                .nav > .nav-links > a:hover {
                background-color: rgba(0, 0, 0, 0.3);
                }

                .nav > #nav-check {
                display: none;
                }

                @media (max-width:600px) {
                .nav > .nav-btn {
                    display: inline-block;
                    position: absolute;
                    right: 0px;
                    top: 0px;
                }
                .nav > .nav-btn > label {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    padding: 13px;
                }
                .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
                    background-color: rgba(0, 0, 0, 0.3);
                }
                .nav > .nav-btn > label > span {
                    display: block;
                    width: 25px;
                    height: 10px;
                    border-top: 2px solid #eee;
                }
                .nav > .nav-links {
                    position: absolute;
                    display: block;
                    width: 100%;
                    background-color: #333;
                    height: 0px;
                    transition: all 0.3s ease-in;
                    overflow-y: hidden;
                    top: 50px;
                    left: 0px;
                }
                .nav > .nav-links > a {
                    display: block;
                    width: 100%;
                }
                .nav > #nav-check:not(:checked) ~ .nav-links {
                    height: 0px;
                }
                .nav > #nav-check:checked ~ .nav-links {
                    height: calc(100vh - 50px);
                    overflow-y: auto;
                }
                }
               
           /********************************************************************/
    </style>
</head>
<!-- <%- include ../pages/navbar.ejs %> -->
<body>
    <!-- BAR DE NAVIGATION -->
      <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            <img src="images/Logo_bewys.png" alt="logo" /> 
                
                
            <!-- <a href="/logout" target="_blank" class="glyphicon glyphicon-log-in" style="float:right; text-decoration: none; margin-left: 1350px; margin-top:15px">
                    <button class="btn btn-danger navbar-btn">Se deconnecter</button>
            </a> -->
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
         <div class="nav-links">
            
        </div> 
      </div>      
    
 <!---------------------------------->
<!--   <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
      <button class="btn btn-danger navbar-btn">Button</button>
   --> 
    <!---------------------------------->
    <a href="/logout" target="_blank" style="font-size: 20px; float:right; text-decoration: none;margin-right: 50px;" >Se deconnecter</a>
    <br>
    <h1 style="text-align: center;">ALMERYS REPORTING</h1>
    <!---------------------------------->
    <br>
            <div class="container"  style=" background-color:rgb(34, 30, 30);"><br><br><br>
                <a href="/accueilhtp" class="active">
                    <input id="htp" class="favorite styledhtp" type="button" value="HTP">
                </a>
                <a href="/accueilInovcom" class="active">
                <input id="inovcom" class="favorite styledinov" type="button" value="Inovcom Autre">
                </a>
                <a href="/accueilInovcomtype2" class="active">
                    <input id="inovcom" class="favorite styledinov" type="button" value="Nombre de ligne">
                </a>     
                <a href="/accueilInovcomtype3" class="active">
                    <input id="inovcom" class="favorite styledinov" type="button" value="Nombre non vide">
                </a> 
                <a href="/accueilInovcomtype4" class="active">
                    <input id="inovcom" class="favorite styledinov" type="button" value="Nombre OK/KO">
                </a><br><br>       
                <a href="/accueilInovcomtype5" class="active">
                    <input id="inovcom" class="favorite styledinov" type="button" value="Retour FAV">
                </a>
                <a href="/accueilInovcomtype6" class="active">
                    <input id="inovcom" class="favorite styledinov" type="button" value="Inovcom CMUC">
                </a>
                <a href="/accueilInovcomtype7" class="active">
                    <input id="inovcom" class="favorite styledinov" type="button" value="Demat quotidien">
                </a>
                <a href="/accueilInovcomtype8" class="active">
                    <input id="inovcom" class="favorite styledinov" type="button" value="Avis d'annulation">
                </a>
                <a href="/accueilInovcomtype9" class="active">
                    <input id="inovcom" class="favorite styledinov" type="button" value="Facture Intériale">
                </a><br><br>
                <a href="/accueilIndu" class="active">
                    <input id="indu" class="favorite styledindu" type="button" value="Indu Autre">
                </a>
                <a href="/accueilIndu2" class="active">
                    <input id="indu" class="favorite styledindu" type="button" value="Relevé de compte">
                </a>
                <a href="/accueilContetieux" class="active">
                    <input id="contentieux" class="favorite styledcont" type="button" value="CONTENTIEUX">
                </a>
                <a href="/accueilRetour" class="active">
                    <input id="retour" class="favorite styledretour" type="button" value="RETOUR">
                </a>
                <!-- <a href="/accueilEngagement" class="active">
                    <input id="retour" class="favorite styledengagement" type="button" value="ENGAGEMENT">
                </a> -->
                <br><br><br>
          <!-- <a href="#" target="_blank" style="color: green; font-size: 18px; ">Se deconnecter</a> -->
          <!-- <a href="http://stackoverflow.com/users/4084003/" target="_blank">Stackoverflow</a>
          <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">LinkedIn</a>
          <a href="https://codepen.io/jo_Geek/" target="_blank">Codepen</a>
          <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">JsFiddle</a> -->
        </div> 
      </div> 

    
    
</body>

</html>