<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title>Document</title>
</head>

<body>
    <br><br>
    <div class="container"  style=" background-color:whitesmoke;"> 
        <div class="row">
            <div class="col-md-offset-3 col-md-6"  style=" background-color:whitesmoke;">
                <br><br><br><br><br><br>
                <div  style="background-color:white;height:300px;width:400px;margin-left: 80px;box-shadow: 5px 5px 5px 5px green;">
                  <br><br><br><br>
                  <h4>Traitement terminer avec succès</h4>
                  <br><br>
                  <button class="btn btn-default" style="margin-left: 12px;"><a href="/login">Veuillez cliquer ici pour retourner au page précédent</a></button>
                </div>
                <br><br><br>
                <br><br><br>
            </div>
    </div>
   
    
</body>

</html>